<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

    <center>
    <table border="1" width="500px" height="700px">
        <tr>
            <th align="center">
                Navigation
            </th>
        </tr>
        <tr>
            <td align="center">
                <a href="/r1">Round 1</a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="/r2">Round 2</a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="/r3">Round 3</a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="/ms">Mean Scores</a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="/quals">Qualifiers</a>
            </td>
        </tr>
    </center>    




    </table>































</body>























</html>