<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Competition Webpage</title>
    </head>
    <body>
        <form action="/query" method="post">
            <label for="Mem_ID">Member ID:</label>
            <input type="text" name="Mem_ID" placeholder="Member ID" required/>
            <label for="Comp_ID">Competition ID:</label>
            <input type="text" name="Comp_ID" placeholder="Competition ID" required />
            <label for="Score">Score:</label>
            <input type="text" name="Comp_Score" placeholder="Score" required />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>