<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <center>
            <table>
                <form action="/processing" method="post"
                    <tr>
                        <label for="filename">Enter File Name: </label>
                        <input type="text" id="filename" name="filename" required> 
                        <br>
                    </tr>
                    <tr>
                        <label for="process">Process: </label>
                        <input type="radio" id="compress" name="process" value=0 required>
                        <label for="compress">Compress</label>
                        <input type="radio" id="decompress" name="process" value=1 required>
                        <label for="decompress">Decompress</label>
                        <br>
                    </tr>
                        <input type="submit" value="Process">   
                </form>
            </table>
        </center>
        <center>
            {% if error_data %}
            <p>Invalid Dataset</p>
            {% endif %}
            {% if error_file %}
            <p>File Not Found</p>
            {% endif %}
        </center>
    </body>
</html>