<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Insert</title>
    </head>
    <body>
        <form action="/insert-query" method="post">
            <label for="bookID">Book ID</label>
            <input id="bookID" type="text" name="BookID">
            <label for="title">Title</label>
            <input id="title" type="text" name="title">
            <label for="price">Price</label>
            <input id="price" type="text" name="price">
            <label for="copies">Number of Copies</label>
            <input id="copies" type="text" name="copies">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>